name: develop Push Check

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: '16'
          distribution: 'adopt'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTING_URL }}
          username: ${{ secrets.HOSTING_USER }}
          key: ${{ secrets.HOSTING_SSH_KEY }}
          port: ${{ secrets.HOSTING_PORT }}
          script: |
            cd /root/deploy
            docker-compose pull
            docker-compose down
            docker-compose up -d